<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand{% if page.name == "index.html" %} active{% endif %}" href="/">Vitaly Ford</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li{% if page.name == "research.html" %} class="active"{% endif %}><a href="/research/">Research</a></li>
            <li{% if page.name == "publications.html" %} class="active"{% endif %}><a href="/publications/">Publications</a></li>
            <li><a href="/docs/VitalyFordResume.pdf" target="_blank" rel="noopener norefferer">Resume</a></li>
            <li{% if page.name == "schedule.html" %} class="active"{% endif %}><a href="/schedule/">Schedule</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">My Talks<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/docs/obscurity-in-cybersecurity.pdf" target="_blank" rel="noopener norefferer">Obscurity in Cybersecurity</a></li>
                    <li><a href="/docs/aws.pdf" target="_blank" rel="noopener norefferer">Cloud (AWS) Workshop</a></li>
                    <li><a href="/docs/VitalyFord-AMI-PrivacyDataMining.pdf" target="_blank" rel="noopener norefferer">AMI Privacy-preserving Data Mining</a></li>
                    <li><a href="/docs/VitalyFord-Energy-Fraud-Detection.pdf" target="_blank" rel="noopener norefferer">Energy Fraud Detection</a></li>
                    <li><a href="/docs/VitalyFord-GenCyberCoin-and-Cybersecurity-Principles.pdf" target="_blank" rel="noopener norefferer">GenCyberCoin and Cybersecurity Principles</a></li>
                    <li><a href="/docs/VitalyFord-NSF-CC-Arcadia-Case-Study.pdf" target="_blank" rel="noopener norefferer">NSF CC* Arcadia Case Study</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Pentest <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li{% if page.name == "00-Background.html" %} class="active"{% endif %}><a href="/pentest/00-Background/">00 Background</a></li>
                    <li{% if page.name == "01-Social-Engineering.html" %} class="active"{% endif %}><a href="/pentest/01-Social-Engineering/">01 Social Engineering</a></li>
                    <li{% if page.name == "02-Assessment-Planning.html" %} class="active"{% endif %}><a href="/pentest/02-Assessment-Planning/">02 Assessment Planning</a></li>
                    <li{% if page.name == "03-Passive-Intelligence-Gathering.html" %} class="active"{% endif %}><a href="/pentest/03-Passive-Intelligence-Gathering/">03 Passive Intelligence Gathering</a></li>
                    <li{% if page.name == "04-Active-Intelligence-Gathering.html" %} class="active"{% endif %}><a href="/pentest/04-Active-Intelligence-Gathering/">04 Active Intelligence Gathering</a></li>
                    <li{% if page.name == "05-Exploitation.html" %} class="active"{% endif %}><a href="/pentest/05-Exploitation/">05 Exploitation</a></li>
                    <li{% if page.name == "06-Post-Exploitation.html" %} class="active"{% endif %}><a href="/pentest/06-Post-Exploitation/">06 Post-Exploitation</a></li>
                    <li{% if page.name == "07-Useful-Resources.html" %} class="active"{% endif %}><a href="/pentest/07-Useful-Resources/">07 Useful Resources</a></li>
                </ul>
            </li>
            <li><a href="/et/">Meet</a></li>
            <li{% if page.name == "contact.html" %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
